---
eleventyNavigation:
  key: Om oss
  order: 2
url: '/about'
---
  <style>{% include "css/about.css" %}</style>
<main>
    <br/>
    <h2>UPPLEV <strong>SPANSKA SMAKER</strong> MED PASSION</h2>
    <p>Esmia HB har sedan starten 1993 sålt spanska delikatesser. 
      <br>
      Vi levererar produkter till restauranger och vi hanterar även catering vid fester och evenemang för både små och stora sällskap.
  </div>
</main>


{# MORE CONTENT ABOUT location and who we are! #}

{# https://paella.nu/ #}

{# check their about page #}
