---
eleventyNavigation:
  key: Om oss
  order: 2
url: '/about'
---
  <style>{% include "css/about.css" %}</style>
    <br/>
    <h2>UPPLEV <strong>SPANSKA SMAKER</strong> MED PASSION</h2>
    <p>Embedding trust into every step of the journey</p>
    <p>Esmia HB har sedan starten 1993 sålt spanska delikatesser. Vi levererar produkter till restauranger och vi hanterar även catering vid fester och evenemang för både små och stora sällskap.
  </div>
