---

---
<style>{% include "css/banner.css" %}</style>
<section class="banner">
<div class="banner-section">
  <div class="banner-image">
    <img src="/images/background.jpg" alt="Spansk cateringillustration" />
  </div>
</div>

  <center class="banner-text">
    <h1>ESMIA HB</h1>
    <p>Spansk paella-och tapascatering i Stockholm</p>
  </center>


  </section>


  <section>

jsut random section here lol!
  </section>

  <section>

jsut a third random section here lol!
  </section>