---
eleventyNavigation:
  key: Mission
  order: 2
  url: '/#mission'
  permalink: false
---
  <section id="mission">
  <style>{% include "css/mission.css" %}</style>
  <div class="flex">
    <img src="/images/about-img.svg" alt="Esmia Illustration" />
  <div>
    <h2>Our Mission</h2>
    <p>Embedding trust into every step of the journey</p>
    <p>Esmia was funded on the belief that every device on a global level should carry a verifiable, tamper-proof story, used as a trust fundament to drive the circular economy and a more sustainable future.

 

Unifying cutting edge Blockchain and distributed web3 solutions and  Recommerce industry expertise to build a infrastructure that scale. We integrate with existing reverse and logistic systems, making adaptation seamless and invisible inside daily workflows.

 

Esmia is creating the foundation for a circular economy that is not only more sustainable — but more valuable.
</p>
  <div>
    <ol>
      <li>Build a global infrastructure for device trust</li>
      <li>Integrate seamlessly with existing systems</li>
      <li>Drive the circular economy forward</li>
    </ol>
    </div>

</div>

  </section>
