---
eleventyNavigation:
  key: Mission
  order: 2
  url: '/#mission'
  permalink: false
---
  <style>{% include "css/mission.css" %}</style>
  <div class="flex">
    <img src="/images/about-img.svg" alt="Esmia Illustration" />
  <div>
    <br/>
    <h2>UPPLEV <strong>SPANSKA SMAKER</strong> MED PASSION</h2>
    <p>Embedding trust into every step of the journey</p>
    <p>Esmia was funded on the belief that every device on a global level should carry a verifiable, tamper-proof story, used as a trust fundament to drive the circular economy and a more sustainable future.

  </div>
