---js
const eleventyNavigation = {
	key: "Solution",
	order: 3,
	url: '/#solution',
    permalink: false
};
---

<h2> Digital Product Passport Solution</h2>
<h3>Core Features of the Esmia Infrastructure</h3>

I am solution

TODO: CARDS WITH ICONS AND ANIMATION PLEASE!!!

